<div th:fragment="footer">
    <!--Footer fragment added to every page -->
    <style>
        .footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: silver;
            text-align: center;
            color:darkblue;
        }
    </style>
    <div class="footer">
        <p>Created by students in the CS department at Georgia Southern University for Distributed Web Systems Design</p>
        <p><a href= "https://cec.georgiasouthern.edu/cs/">Georgia Southern Computer Science</a><br><a href="https://catalog.georgiasouthern.edu/academics/course-descriptions/csci/">Curriculum</a></p>
    </div>
</div>