<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="background-color: darkgray;">
<head> 
    <title>Welcome to the Home Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p style="text-align:center; font-size: large;">Welcome to our home page for our application connecting gyms, trainers, and clients</p>
    <input type="text" id="userName" placeholder="User Name" size="25">
    <input type="text" id="password" placeholder="Password" size="25">
    <input type="submit" id="submit">


</body>
</html>