<html>
    <head th:replace="header :: header"> </head>

<head>
<script type="text/javascript" src="../static/gym.js" th:src="@{static/gym.js}"></script>
</head>
<body>
	<!-- (Source code only read): adds the navagation menu bar -->
	<div th:replace="topnav ::  navbar">	</div>

	<h2 style="text-align: center;">List of gyms</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add New</button>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">gym Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Membership Cost</th>
                        <th scope="col">Location</th>                   
                        
                    </tr>
                </thead>
                <tbody>
                    <!-- acts like a for each loop and iterates through all the books -->
                    <tr th:each="gym:${gyms}">
                        <td th:text="${gym.gymId}"></td>
                        <td th:text="${gym.name}"></td>
                        <td th:text="${gym.membershipCost}"></td>
                        <td th:text="${gym.location}"></td>
                       <!-- <td><a th:href="@{/user/getOne/(userId=${user.userId})}" class="btn btn-warning" id="editButton">Edit</a></td>
                        <td><a th:href="@{/user/delete/(userId=${user.userId})}" class="btn btn-danger" id="deleteButton">Delete</a></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace = "footer :: footer"></div>

    </body>
</html>