<!DOCTYPE html>
<html>
<head th:replace="header :: header"></head>
<head>
<title>Search for Gyms</title>
</head>

<body>

	<!-- (Source code only read): adds the navagation menu bar -->
	<div th:replace="topnav ::  navbar">	</div>


<h2 style="text-align: center;">Gym Search</h2>

<div style="width=60%; margin: auto auto;">
	<form action="#" th:action="@{/gymsearch/search}" method="GET">
		<div class="form-group row" style="max-width: 100%;  margin: auto auto 0.75rem auto; padding-right: 10px; padding-left: 10px;">
		
			<select name="selectedField" class="form-control form-control" style="max-width: 15%; margin: auto auto;">
				<option value="gymId" th:selected="${selected[0]}"> gym ID</option>
				<option value="location" th:selected="${selected[1]}">location</option>
				<option value="membershipCost" th:selected="${selected[2]}">membership cost</option>
				<option value="name" th:selected="${selected[3]}">name</option>
			</select>
		
		
			<input type="text" name="searchTerm" th:value="${searchTerm}" class="form-control" placeholder="Key word" style="max-width: 60%; margin: auto auto;">
		
			<button type="submit" class="btn btn-dark" style="margin: auto auto;">Search</button>
		</div>
	</form>
</div>

<font color="red"><h1 th:text="${error_msg}" style="text-align: center;"></h1></font>

<div style="padding-top: 40px;">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">gymId</th>
				<th scope="col">location</th>
				<th scope="col">membershipCost</th>
				<th scope="col">name</th>
			</tr>
		</thead>
		<tbody>
			<!-- acts like a for each loop and iterates through all the users -->
			<tr th:each="gym:${gyms}">
				<td th:text="${gym.gymId}"></td>
				<td th:text="${gym.location}"></td>
                <td th:text="${gym.membershipCost}"></td>
				<td th:text="${gym.name}"></td>
			</tr>
		</tbody>
	</table>
</div>
<div th:replace = "footer :: footer"></div>
</body>
</html>