<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Gym Database</title>
</head>
<head th:replace="header :: header"> </head>
<body>
	<!-- (Source code only read): adds the navagation menu bar -->
	<div th:replace="topnav ::  navbar">
	</div>
	<h1 style="text-align: center;">Welcome to the Gym Database</h1>
	<p style="text-align: center;">
	</p>
</body>
</html>