<html>
    <head>
        <title>Gym Database</title>
    </head>
    <head th:replace="header :: header"> </head>
    <body>
        <h1 style="text-align: center;">Welcome to the Gym Database</h1>
        <form action="#" th:action="@{/login}" method="GET">
            
            <center>
            <p>Please login in using the fields below</p>
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" th:value="${uname}" name="uname" required>
                <br>
          
                <label for="psw"><b>Password</b></label>
                <input type="password" th:value="psw" placeholder="Enter Password" name="psw" required>
                <br>
                <button type="submit" class="btn btn-dark" >Login</button>
              
            </div>
            </center>
          </form> 
    </body>
    <div th:replace="footer :: footer"></div>
</html>