<html>
    <head th:replace="header :: header"> </head>
<body>
	<!-- (Source code only read): adds the navagation menu bar -->
	<div th:replace="topnav ::  navbar">	</div>

	<h2 style="text-align: center;">List of Gym Equipment</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add New</button>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Gym Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Difficulty</th>
                        <th scope="col">Trainer Id</th>
                       <!-- <th scope="col">Edit</th>
                        <th scope="col">Delete</th>-->
                        
                    </tr>
                </thead>
                <tbody>
                    <!-- acts like a for each loop and iterates through all the books -->
                    <tr th:each="schedule:${schedules}">
                        <td th:text="${schedule.gymId}"></td>
                        <td th:text="${schedule.name}"></td>
                        <td th:text="${schedule.date}"></td>
                        <td th:text="${schedule.price}"></td>
                        <td th:text="${schedule.difficulty}"></td>
                        <td th:text="${schedule.trainerId}"></td>
                       <!-- <td><a th:href="@{/user/getOne/(userId=${user.userId})}" class="btn btn-warning" id="editButton">Edit</a></td>
                        <td><a th:href="@{/user/delete/(userId=${user.userId})}" class="btn btn-danger" id="deleteButton">Delete</a></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace = "footer :: footer"></div>

    </body>
</html>