<html>
    <head th:replace="header :: header"> </head>
<body>
	<!-- (Source code only read): adds the navagation menu bar -->
	<div th:replace="topnav ::  navbar">	</div>

	<h2 style="text-align: center;">List of Trainers</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add New</button>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Trainer Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Gym Id</th>
                       <!-- <th scope="col">Edit</th>
                        <th scope="col">Delete</th>-->
                        
                    </tr>
                </thead>
                <tbody>
                    <!-- acts like a for each loop and iterates through all the books -->
                    <tr th:each="trainer:${trainers}">
                        <td th:text="${trainer.trainerId}"></td>
                        <td th:text="${trainer.name}"></td>
                        <td th:text="${trainer.salary}"></td>
                        <td th:text="${trainer.specialization}"></td>
                        <td th:text="${trainer.gymId}"></td>
                       <!-- <td><a th:href="@{/user/getOne/(userId=${user.userId})}" class="btn btn-warning" id="editButton">Edit</a></td>
                        <td><a th:href="@{/user/delete/(userId=${user.userId})}" class="btn btn-danger" id="deleteButton">Delete</a></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace = "footer :: footer"></div>

    </body>
</html>